body{
  background-color: #eee;
  
}
.container{
  
  justify-content: space-between;
}

.box{
    background-color: #fff ;
    width: 510px ;  
}

title{
    background-color: #000;
    padding: 10px;
    color: #fff;
    font-size: 22px;
    text-align: center;
}
.field{
    padding: 10px 20px ;
    font-size: 15px;
    color: #666;
}

.field > label{
    width: 300px ;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    padding: 8px 24px;
    margin-left: 15px;
    background-color: rgba(191, 181, 183, 0.28);
    border: 2px solid black;
    border-radius: 10px;
    
}
